* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
   
}

html,
body {
    scroll-behavior: smooth;

}

body {
    font-family: "Palermo", sans-serif;
    font-weight: normal;
}