* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

.pre__header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 17vh;
}
.pre__header h1 {
  width: 200px;
  color: #059db2;
  position: relative;
  right: 15%;
  font-family: "Palermo", sans-serif;
}
.pre__header h1 .color-title {
  color: #48744d;
}
.pre__header p {
  color: #059db2;
  font-size: 25px;
}

.navbar {
  height: 8vh;
  background-color: #EEE;
}
.navbar .close {
  display: none;
}
.navbar .navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.navbar .navbar__menu li {
  height: 8vh;
  padding: 0 10px;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.navbar .navbar__menu li a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.navbar .navbar__menu li:hover {
  background-color: #059db2;
}
.navbar .navbar__menu li:hover a {
  color: white;
}
.navbar .navbar__menu .hiddenlogo {
  display: none;
}
.navbar .navbar__menu .green:hover {
  background-color: #48744d;
}
.navbar .navbar__menu .green:hover a {
  color: white;
}

.open {
  display: none;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 75vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img/fondo3.jpg);
  background-size: cover;
  background-position: center;
}
.main a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: 0 20px 20px 50px;
  background-color: rgba(255, 255, 255, 0.5);
}
.main a h2 {
  font-weight: normal !important;
  color: white;
}
.main .main__div1 {
  background-color: rgba(5, 157, 178, 0.7);
  transition: 0.4s;
}
.main .main__div1:hover {
  background-color: #059db2;
}
.main .main__div2 {
  background-color: rgba(72, 116, 77, 0.7);
  transition: 0.4s;
}
.main .main__div2:hover {
  background-color: #48744d;
}

#nosotros {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#nosotros h3 {
  color: #059db2;
  font-size: 60px;
  font-weight: 600;
  font-family: "Arial", "Helvetica", sans-serif;
}
#nosotros .nosotros__relleno {
  width: 15px;
  height: 15px;
  background-color: #059db2;
  margin: 10px 0 30px 0;
}
#nosotros .nosotros__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
#nosotros .nosotros__div .div__p {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30%;
}
#nosotros .nosotros__div .div__p .nosotros__p1 {
  margin-right: 60px;
  text-align: justify;
  font-size: 15px;
  margin-top: 20px;
  line-height: 27px;
}
#nosotros .nosotros__div .div__p .nosotros__p2 {
  margin-left: 60px;
  text-align: justify;
  font-size: 15px;
  margin-top: 20px;
  line-height: 27px;
}
#nosotros .nosotros__div .nosotros__border__div {
  height: 550px;
  border-left: solid 1px #059db2;
}
#nosotros .nosotros__div .cuadradoMobile {
  display: none;
}

#rehabilitacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, rgba(4, 113, 128, 0.95), rgba(4, 113, 128, 0.95)), url(img/fondo2.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
}
#rehabilitacion h3 {
  margin: 50px 0 30px 0;
  font-size: 60px;
  font-weight: 540;
  font-family: "Arial", "Helvetica", sans-serif;
}
#rehabilitacion .rehabilitacion__relleno {
  width: 15px;
  height: 15px;
  background-color: white;
  margin: 20px 0 30px 0;
}
#rehabilitacion .rehabilitacion__div__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}
#rehabilitacion .rehabilitacion__div__container div {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rehabilitacion .rehabilitacion__div__container div h4 {
  background-color: rgba(255, 255, 255, 0.25);
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
}
#rehabilitacion .rehabilitacion__div__container div p {
  padding: 25px;
  line-height: 35px;
  font-size: 15px;
}

.divisor__section .divisor__div {
  height: 80vh;
  background: fixed;
  background-image: url(img/divisor.jpg);
  background-size: cover;
  background-position: center;
}

.divisor__section2 .divisor__div2 {
  height: 100vh;
  background: fixed;
  background-image: url(img/ventosas.jpg);
  background-size: cover;
  background-position: bottom;
}

#estetica {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, rgba(72, 116, 77, 0.95), rgba(72, 116, 77, 0.95)), url(img/fondo2.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
}
#estetica h3 {
  margin: 50px 0 30px 0;
  font-size: 60px;
  font-weight: 540;
  font-family: "Arial", "Helvetica", sans-serif;
}
#estetica .estetica__relleno {
  width: 15px;
  height: 15px;
  background-color: white;
  margin: 20px 0 30px 0;
}
#estetica .estetica__div__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}
#estetica .estetica__div__container div {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#estetica .estetica__div__container div h4 {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
}
#estetica .estetica__div__container div p {
  padding: 25px;
  line-height: 35px;
  font-size: 15px;
}

#contacto {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#contacto h3 {
  margin-top: 50px;
  color: #059db2;
  font-size: 60px;
  font-weight: 550;
  font-family: "Arial", "Helvetica", sans-serif;
}
#contacto .contacto__relleno {
  width: 15px;
  height: 15px;
  background-color: #059db2;
  margin: 10px 0 30px 0;
}
#contacto .contacto__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 30px;
}
#contacto .contacto__div .contacto__info {
  display: flex;
  justify-content: center;
  width: 50%;
}
#contacto .contacto__div .contacto__info iframe {
  border-radius: 8px;
  box-shadow: 0px 0px 10px 3px #059db2;
}
#contacto .contacto__div .contacto__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#contacto .contacto__div .contacto__form input {
  width: 400px;
  height: 35px;
  background-color: rgba(5, 157, 178, 0.15);
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}
#contacto .contacto__div .contacto__form textarea {
  width: 400px;
  background-color: rgba(5, 157, 178, 0.15);
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 0 0 5px;
  font: 400 13.3333px Arial;
}
#contacto .contacto__div .contacto__form .botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  margin-top: 10px;
}
#contacto .contacto__div .contacto__form .botones input {
  padding: 0;
  width: 100px;
  background-color: #059db2;
  color: white;
}

footer {
  height: 47vh;
  background: #EEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .footer__info {
  height: 38.5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer__info .footer__div1 {
  margin-top: 50px;
}
footer .footer__info .footer__div1 h5 {
  font-size: 20px;
  margin: 20px 0 20px 0;
}
footer .footer__info .footer__div1 h5 img {
  position: relative;
  bottom: -4px;
  margin: 0 10px 0 5px;
}
footer .footer__info .footer__div1 p {
  color: #055EAA;
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0 20px 0;
}
footer .footer__info .footer__div1 .parrafo__celu {
  color: #48744d;
}
footer .footer__info .footer__div1 .logo__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 20px 0;
}
footer .footer__info .footer__div1 .logo__container .logofb {
  margin-right: 10px;
}
footer .footer__info .footer__div1 .logo__container .logoinsta {
  margin: 0 10px 0 10px;
}
footer .footer__info .footer__div2 {
  display: flex;
  flex-direction: row;
}
footer .footer__info .footer__div2 .lista1 {
  margin-right: 40px;
}
footer .footer__info .footer__div2 .lista2 {
  margin: 0 0 0 40px;
}
footer .footer__info .footer__div2 ul li {
  margin: 25px 0 25px 0;
  font-size: 17px;
}
footer .footer__info .footer__div3 h5 {
  font-size: 25px;
  color: #055EAA;
  margin-bottom: 17px;
}
footer .footer__info .footer__div3 h5 img {
  position: relative;
  bottom: -4px;
  margin: 0 10px 0 0;
}
footer .footer__info .footer__div3 p {
  margin: 25px 0 10px 0;
}
footer a {
  height: 7vh;
}
footer a .arrow {
  margin-bottom: 10px;
}
footer .colores {
  width: 100%;
  height: 1.5vh;
  display: flex;
  flex-direction: row;
}
footer .colores .span1 {
  background-color: #48744d;
  width: 33.33vw;
}
footer .colores .span2 {
  background-color: #059db2;
  width: 33.33vw;
}
footer .colores .span3 {
  background-color: #48744d;
  width: 33.33vw;
}

@media screen and (max-width: 768px) {
  * {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #header .pre__header {
    display: none;
  }
  #header .navbar {
    top: 0;
    left: -100%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: left 1s;
  }
  #header .navbar .navbar__menu {
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #header .navbar .navbar__menu .navbar__menu__item {
    height: 15%;
    width: 100%;
  }
  #header .navbar .navbar__menu .navbar__menu__item a {
    font-size: 24px;
  }
  #header .navbar .navbar__menu .hiddenlogo {
    display: flex;
    margin-bottom: 30px;
  }
  #header .navbar .close {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  #header .navbar .close img {
    width: 40px;
  }
  #header .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/fondo3.jpg);
  }
  #header .main a {
    margin: 20px 0 20px 0;
  }
  #header .open {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    transition: 0.5s;
  }
  #header .open img {
    width: 50px;
  }

  #nav:target {
    left: 0;
  }

  #nav:target ~ .open {
    display: none;
  }

  #nosotros .nosotros__title {
    font-size: 40px;
  }
  #nosotros .nosotros__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  #nosotros .nosotros__div .div__p {
    width: 80%;
  }
  #nosotros .nosotros__div .div__p .nosotros__p1 {
    margin-right: 0;
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
    line-height: 30px;
  }
  #nosotros .nosotros__div .div__p .nosotros__p2 {
    margin-left: 0;
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
    line-height: 30px;
  }
  #nosotros .nosotros__div .nosotros__border__div {
    display: none;
  }
  #nosotros .nosotros__div .cuadradoMobile {
    display: block;
    margin-top: 40px;
  }

  #rehabilitacion .rehabilitacion__title {
    font-size: 40px;
  }
  #rehabilitacion .rehabilitacion__relleno {
    margin-bottom: 0;
  }
  #rehabilitacion .rehabilitacion__div__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
  #rehabilitacion .rehabilitacion__div__container div {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .divisor__section .divisor__div {
    height: 80vh;
    background: center;
    background-image: url(img/divisor.jpg);
    background-size: cover;
    background-position: center;
  }

  .divisor__section2 .divisor__div2 {
    height: 100vh;
    background: center;
    background-image: url(img/ventosas.jpg);
    background-size: cover;
    background-position: bottom;
  }

  #estetica .estetica__title {
    font-size: 40px;
  }
  #estetica .estetica__relleno {
    margin-bottom: 0;
  }
  #estetica .estetica__div__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
  #estetica .estetica__div__container div {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #contacto {
    height: auto;
  }
  #contacto .contacto__title {
    font-size: 40px;
  }
  #contacto .contacto__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  #contacto .contacto__div .contacto__info {
    width: 100%;
    margin: 0 0 50px 0;
  }
  #contacto .contacto__div .contacto__form {
    width: 80vw;
  }
  #contacto .contacto__div .contacto__form input {
    width: 80vw;
    height: 35px;
  }
  #contacto .contacto__div .contacto__form textarea {
    width: 80vw;
  }
  #contacto .contacto__div .contacto__form .botones {
    width: 80vw;
    margin-top: 10px;
  }

  footer {
    height: auto;
  }
  footer .footer__info {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer__info .footer__div1 {
    width: 90vw;
    display: grid;
    grid-template-columns: 65vw 35vw;
    grid-template-rows: 7vh 10vh 10vh;
    grid-template-areas: "contactanos logos" "telefono telefono" "celu celu";
  }
  footer .footer__info .footer__div1 h5 {
    grid-area: contactanos;
    margin: 0 0 0 0;
  }
  footer .footer__info .footer__div1 p {
    text-align: center;
    width: 90vw;
    margin: 5px 0 5px 0;
  }
  footer .footer__info .footer__div1 .parrafo__telefono {
    grid-area: telefono;
  }
  footer .footer__info .footer__div1 .parrafo__celu {
    grid-area: celu;
    text-align: center;
  }
  footer .footer__info .footer__div1 .logo__container {
    grid-area: logos;
    margin: 0 0 0 0;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  footer .footer__info .footer__div2 {
    display: none;
  }
  footer .footer__info .footer__div3 {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer__info .footer__div3 h5 {
    margin-bottom: 0;
  }
  footer a {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__info .footer__div1 h5 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  footer .footer__info .footer__div1 .parrafo__telefono {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  footer .footer__info .footer__div1 .parrafo__celu {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  footer .footer__info .footer__div1 .logo__container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}